<div class="widget-wrap">
	<h3 class="widget-title"><%= __('official_accounts') %></h3>
	<div class="widget">
		<div style="text-align: center;">
			<img src="<%= theme.official_accounts_img %>" style="width: 100%; max-width: 250px;">
			<div style="margin-top: -15px;"><%= theme.official_accounts_text %></div>
		</div>
	</div>
</div>