<footer id="footer">
  <script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js">
  </script>
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      Copyright &copy; 2012 - <%= date(new Date(), 'YYYY') %> <a href="/" target="_blank"><%= config.author || config.title %></a>.
      &nbsp;
      <span id="busuanzi_container_site_pv">
        总访问量 <a href="http://service.ibruce.info/" target="_blank"><span id="busuanzi_value_site_pv"></span></a> 次
      </span>
      <span id="busuanzi_container_site_uv">
        <a href="http://service.ibruce.info/" target="_blank"><span id="busuanzi_value_site_uv"></span></a> 人.
      </span>
      <% if (theme.website_icp){ %>
        &nbsp;
        <span>
          <a href="http://www.miibeian.gov.cn" ><%= theme.website_icp %></a>.
        </span>
      <% } %>
    </div>
  </div>
</footer>
